[Unit]
Description=Automation Logs Script
After=network.target

[Service]
Type=simple
ExecStart=/var/lib/lkp-automation-data/run.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
